.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  background: #f2f2f2;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid gray;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.auth-box span {
  color: blue;
  cursor: pointer;
}