.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background-color: #111827;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s ease;
}

.nav-item:hover {
  color: #3b82f6;
}

.nav-item.active {
  border-bottom: 2px solid #3b82f6;
  padding-bottom: 4px;
}

.register-btn {
  background-color: #3b82f6;
  padding: 7px 14px;
  border-radius: 6px;
}

.register-btn:hover {
  background-color: #2563eb;
  color: white;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background-color: #1f2937;
    width: 220px;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}